<!doctype html>
<html>


<style>

html{
  height:100%;
}

body{ 
  scroll-behavior: unset;
  height:100%;

}

#video {
  position: fixed;
  z-index: 0;
  top:18%;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height:100%;

}

.content {
  z-index: 1;
  position: fixed;
  top:1%;
  width: 100%;
  padding-left: 20px;
  font-size:larger;
  color: white;
}

.logoutLink{
  position: fixed;
  top:10px;
  right:20px;
  z-index: 1;
  color:white;
}

.logoutLink:hover{
  color:white;
  font-weight:bolder;
}

.addInputBox{
  position:fixed;
  z-index: 3;
  top:10%;
  left:20px;
  max-width:200px;
  max-height:10px;
  font-family:'Helvetica Neue';
  /*visibility:hidden;*/
  opacity: 0;
  transition: all 1s ease-in;
  
}

.addButton{
  position:fixed;
  z-index: 3;
  top:12%;
  left:240px;
  border-radius:5px;
  border-style:unset;
  background-color: white;
}

.removeBoxes{
  position:fixed;
  z-index: 3;
  top:12%;
  left:280px;
  border-radius:5px;
  border-style:unset;
}

.removeButton{
  visibility: hidden;
  z-index: 3;
  position:fixed;
  top:20%;
  left:100px;
  border-radius:5px;
  border-style:unset;
}

.closeButton{
  visibility: hidden;
  position:fixed;
  z-index: 3;
  top:20%;
  left:200px;
  border-radius:5px;
  border-style:unset;

}

.playlist{
  position:absolute;
  width:100%;
  z-index: 1;
  height:100%;
  margin-top:40%;
  margin-bottom:50%;
  left: 50%;
  margin-right:-50%;
  transform: translate(-50%, -50%);
}

.addVideo{
  background-color:black;
  color:grey;
  font-family:Geneva;
  opacity: 0.8; 
}

#font{
  opacity: 1;
  color:black;
  background-color: white;
}

.deletionIndicator{
  visibility: hidden;
  margin-left:-1.5%;
  z-index: 5;

}


#navbar{
  overflow: hidden;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  height: 15%;
  width: 100%; /* Full width */
  /*background: linear-gradient(black,transparent);*/
  background-size:cover;
  z-index: 2;

}

#curtain{
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 15%; /* Position the navbar at the top of the page */
  height: 10%;
  width: 100%; /* Full width */
  background: linear-gradient(black,transparent);
  background-size:cover;
  z-index: 2;
}

.video{
  /*margin-bottom:20%;*/
  margin-left:auto;
  margin-right:auto;
  width:50%;
  height:50%;
  margin-bottom:25%;
}

iframe{
  position:relative;
  width:100%;
  height:100%;
  z-index: 1;
  margin-left:auto;
  margin-right:auto;
}

.embed-responsive {
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:100%;
}
/*.embed-responsive{
  padding-top:20%;
  padding-bottom:10%;
}*/

.dropdown{
  position:fixed;
  bottom:2%;
  z-index: 3;
  color:white;
  background-color: black;
}

.s{
  left:5px;
}

.m{
  left:30px;
}

.l{
  left:60px;
}

#logo{
width:20px;
z-index: 2;
margin-left:1%; 
transition:width 1 ease-in;
}

#logo:hover{
  width:21px;
}
  

</style>

<head>
  <link rel="stylesheet" href="../index.css">
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
  <title>{{data.username}}</title>
</head>

<div>

  {{!-- <video autoplay="autoplay" loop="true" mute="true" id="video">
  <source src="../Dust.mp4" type="video/mp4">
  </video> --}}

<div id="navbar">

<p class="content" style="color:white">embed.<img id="logo" src="../embedLogoWhite.png" onclick="reveal()"></img></p>
  <form method="POST" action={{data.username}}>

      <input class="addInputBox" type="text" name="link" value=""></input>

      <button type="submit" class="addVideo addButton">+</button>
      {{!-- <button type="submit" class="addVideo addButton btn btn-outline-secondary btn btn-sm btn-dark">+</button> --}}
  
  </form>

      <button class="addVideo removeBoxes" onclick="displayBoxes()">-</button>
      {{!-- <button class="addVideo removeBoxes btn btn-outline-secondary btn btn-sm btn-dark" onclick="displayBoxes()">-</button> --}}


  <a  class="logoutLink" href="/logout">logout</a>
  
</div>

<div id="curtain"></div>
<body>

<div>

  <form method="GET" action={{data.username}} id="deletionForm">

    <div class="playlist">{{{playlist}}}</div>
    <button class="addVideo removeButton" id="font" value="submit">remove</button>
    
  </form>

  <button class="addVideo closeButton" id="font" onclick="hideBoxes()">x</button>

</div>

  <button class="dropdown s" onclick="s()">s</button></option>
  <button class="dropdown m " onclick="m()">m</button></option>
  <button class="dropdown l" onclick="l()">l</button></option>


</body>
</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="index.js"></script>
  <script type="text/javascript" src="../home.js"></script>

<footer>
</footer>
</html>

