<!doctype html>
<link rel="stylesheet" href="index.css">
<script src="index.js"></script>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> </h2>
      <!-- <h2 class="inactive underlineHover">Sign Up </h2>
   -->
      <!-- Icon -->
      <!-- <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="" />
      </div> -->
  
      <!-- Login Form -->
      <form method="POST" action="/login">
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="name">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
        <br>
        <br>
        <input type="submit" class="fadeIn fourth" value="Enter">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        {{!-- <a class="underlineHover" href="#">Login Assistance</a>
        <br> --}}
        <a class="underlineHover" href="registration.html">Become a Member</a>
      </div>
  
    </div>
  </div>