<!doctype html>

<style>
  html{
    height:100%; 
    overflow-y:auto;
  }

  body{ 
    scroll-behavior: unset;
    height:100%;
  }


  #video {
    position: fixed;
    z-index: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .content {
    z-index: 1;
    position: fixed;
    top:1%;
    width: 100%;
    padding: 20px;
    font-size:larger;
    color: white;
  }

  .addInputBox{
    position:fixed;
    z-index: 3;
    top:10%;
    left:20px;
    max-width:200px;
    max-height:10px;
    font-family:'Helvetica Neue';
    /*visibility:hidden;*/
    transition: all 1s ease-in;
  }

  .addButton{
    position:fixed;
    top:12%;
    left:240px;
    border-radius:5px;
    border-style:unset;
  }

  .removeBoxes{
    position:fixed;
    z-index: 5;
    top:12%;
    left:280px;
    border-radius:5px;
    border-style:unset;
    background-color: white;
    opacity: 1;
    transition: all 0.5s ease-in;
}


  .addVideo{
    background-color:black;
    color:grey;
    font-family:Geneva;
    opacity: 0.8; 
    
  }

  .tempPlaylist {
    position:absolute;
    z-index: 2;
    width:100%;
    height:100%;
    margin-top: 45%;
    margin-bottom:50%;
    left:50%;
    margin-right:-50%;
    transform:translate(-50%,-50%);
  }

  #toLoginPage{
    position: fixed;
    color:white;
    top:10px;
    right:120px;
    
  }

  #toRegistrationPage{
    position: fixed;
    color:white;
    top:10px;
    right:20px;
  }

  .video{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height:50%;
    margin-bottom:25%;
  }

  iframe{
    position:relative;
    width:100%;
    height:100%;
    z-index: 1;
    margin-left:auto;
    margin-right:auto;
  }

  .embed-responsive{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:100%;
  }

  .text{
    font-family: Helvetica;
    font-weight: bold;
    color:white;
    opacity:0.6;

    position:absolute;
    z-index: 2;
    width:100%;
    height:100%;
    text-align: center;
    margin-top:33%;
    margin-left:auto;
    margin-right:auto;
  }

  #logo{
    width:2%;
    z-index: 1;
    margin-left:1%;
  }

  .sizing{
    position:fixed;
    bottom:2%;
    z-index: 3;
    color:white;
    background-color: black;
  }

  .s{
    left:25px;
    position:fixed;
    z-index: 5;
  }

  .m{
    left:50px;
    position:fixed;
    z-index: 5;
  }

  .l{
    left:80px;
    position:fixed;
    z-index: 5;
  }

  .deletionIndicator{
  opacity: 0;
  transition: all 0.5s ease-in;
  margin-left:-1.5%;
  z-index: 5;
  }

  .removeButton{
  z-index: 5;
  position:fixed;
  top:12%;
  left:350px;
  border-radius:5px;
  border-style:unset;
  color:white;
  background-color: black;
  opacity: 0;
  transition: all 0.5s ease-in;
  }

</style>

<head>
<link rel="stylesheet" href="../index.css">
</head>

<div>
<div>

  {{!-- <video playbackRate=0.3 autoplay="autoplay" loop="true" mute="true" id="video">
  <source src="../Dust.mp4" type="video/mp4">
  </video> --}}

  <p class="content" style="color:white">embed.<img id="logo" src="../embedLogoWhite.png"></img></p>

    <div>

    <form method="POST" action="/">

        <input class="addInputBox" type="text" name="link" value="" placeholder="<iframe>....</iframe>"></input>

        <button type="submit" class="addVideo addButton btn btn-outline-secondary btn btn-sm btn-dark">+</button>
    
    </form>

        <button class="addVideo removeBoxes" onclick="displayBoxes()">-</button>
        
    </div>

</div>


  <a id="toLoginPage" href="login">login • </a>
  <a id="toRegistrationPage" href="registration"> create page</a>

<body>

  <form method="GET" action="/" id="deletionForm">
  
    <div class="tempPlaylist">{{{tempPlayList}}}</div>
    <button class="removeButton" value="submit">remove video(s)</button>

  </form>

  <button class="sizing s" onclick="s()">s</button>
  <button class="sizing m " onclick="m()">m</button>
  <button class="sizing l" onclick="l()">l</button>


</body>
</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="index.js"></script>
  <script  type="text/javascript"  src="../home.js"></script>