<!doctype html>

<style>

  #caption{
    color: white;
    position: fixed;
    font-size:medium;
    opacity: 0.5;
    z-index: 1;
    bottom:10%;
    right:9%;
    width:10%;
  }

  img{
    position: fixed;
    bottom:15%;
    right:10%;
    width:10%;
  }
</style>

<link rel="stylesheet" href="index.css">

<div class="wrapper fadeInDown">
    <div id="formContent">
      <form method="POST" action="registration">
        <br>
        <br>
        <input type="text" class="fadeIn second" name="username" placeholder="username">
        <input type="password" class="fadeIn third" name="password" placeholder="password(8-15 digits)">
        <input type="text" class="fadeIn second" name="email" placeholder="email address">
        <br>
        <br>
        <input type="submit" class="fadeIn fourth" value="submit">
      </form>

  
    </div>
  </div>
      <p id="caption">peaceful streaming</p>
      {{!-- <img class="fadeInDown" src="../TVGraphic.png"> --}}
  

<script src="index.js"></script>